.contact {
  background-color: rgb(255, 10, 112);
  color: white;
  padding: 15px;
  display: flex;
  justify-content: center;
  .wrapper {
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;

    span {
      letter-spacing: 0.7px;
    }

    input {
      border: none;
      padding: 10px;
      border-radius: 5px 0px 0px 5px;
      outline: none;
      letter-spacing: 0.7px;
    }
    button {
      border: none;
      padding: 10px;
      border-radius: 0px 5px 5px 0px;
      background-color: #333;
      color: white;
      cursor: pointer;
    }

    .icons {
      display: flex;
      gap: 10px;
    }
  }
}
